---
title: Homepage  
date: 2021-01-03
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% set greeting = 'hello' %}
    
    Yay, {{ greeting | upper }} world!
  </body>
</html>